@charset "utf-8";

:root {
    /* Colors */
    --color-accent: #69BAFF;
    --color-accent2: #D0E6FF;
    --color-sub1: #B7D8F4;
    --color-sub2: #E9F5FF;
    --color-gray1: #DDDDDD;
    --color-gray2: #F5F5F5;
    --color-text: #333333;
    --color-Black: #000000;
    --color-White: #FFFFFF;
}


/* 로컬 폰트 정의 */

@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    font-display: swap;
    src: local('Roboto Black'),
        url(../fonts/Roboto-Black.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Bold'),
        url(../fonts/Roboto-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Medium'),
        url(../fonts/Roboto-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Regular'),
        url(../fonts/Roboto-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 200;
    font-display: swap;
    src: local('Roboto Light'),
        url(../fonts/Roboto-Light.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-display: swap;
    src: local('Roboto Thin'),
        url(../fonts/Roboto-Thin.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Bold'),
        url(../fonts/Montserrat-Bold.woff) format('woff');
}